<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjx.maven.project.wind_player_serve.mapper.ThemeDataMapper">

    <select id="getAll" resultType="zjx.maven.project.wind_player_serve.model.ThemeData">
        select *
        from total_theme;
    </select>
    <insert id="insert" parameterType="zjx.maven.project.wind_player_serve.model.ThemeData">
        insert into total_theme(t_themeName,t_upDownBack,t_mainBack,creator)
        values (#{t_themeName},#{t_upDownBack},#{t_mainBack},#{creator});
    </insert>
    <delete id="deleteByTid">
        delete
        from total_theme
        where tid = #{tid} and creator = #{creator}
    </delete>
    <update id="updateByTid" parameterType="zjx.maven.project.wind_player_serve.model.ThemeData">
        update total_theme
        set t_themeName = #{t_themeName}
        where tid = #{tid}
    </update>
    <select id="getThemeDataByTid" resultType="zjx.maven.project.wind_player_serve.model.ThemeData">
        select *
        from total_theme
        where tid = #{tid}
    </select>
    <select id="getThemeDataByPage" resultType="zjx.maven.project.wind_player_serve.model.ThemeData">
        select *
        from total_theme
        ORDER BY tid DESC
        limit #{limit} offset #{offset}
    </select>

</mapper>
