<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjx.maven.project.wind_player_serve.mapper.UserToThemeMapper">

    <select id="getByUid" resultType="zjx.maven.project.wind_player_serve.model.UserToTheme">
        select *
        from userToTheme
        where uid = #{uid}
    </select>
    <insert id="insert" parameterType="zjx.maven.project.wind_player_serve.model.UserToTheme">
        insert into userToTheme(uid)
        values (#{uid});
    </insert>
    <update id="update" parameterType="zjx.maven.project.wind_player_serve.model.UserToTheme">
        update userToTheme
        set tid = #{tid}
        where uid = #{uid}
    </update>

</mapper>